[submodule "esp/bluepad32-v4.2.0"]
	path = esp/bluepad32-v4.2.0
	url = https://github.com/ricardoquesada/bluepad32
[submodule "esp/esp-idf-v5.4.1"]
	path = esp/esp-idf-v5.4.1
	url = https://github.com/espressif/esp-idf.git
